name: Pull-Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Setup cocoapods
        run: gem install cocoapods-generate
      - name: Static Analysis
        run: ./gradlew detekt
      - name: Verify Tests Coverage
        run: ./gradlew koverVerify
      - name: Build
        run: ./gradlew build
